*.xla diff=xl
*.xla merge=xl
*.xlam diff=xl
*.xlam merge=xl
*.xls diff=xl
*.xls merge=xl
*.xlsb diff=xl
*.xlsb merge=xl
*.xlsm diff=xl
*.xlsm merge=xl
*.xlsx diff=xl
*.xlsx merge=xl
*.xlt diff=xl
*.xlt merge=xl
*.xltm diff=xl
*.xltm merge=xl
*.xltx diff=xl
*.xltx merge=xl